<div class="container">
  <table class="table mt-5" *ngIf="products">
    <thead class="text-primary">
    <tr>
      <th>Products</th>
    </tr>
    </thead>
    <thead class="bg-primary text-white">
    <tr>
      <th>Id</th><th>Name</th><th>Price</th><th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of products._embedded.products">
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
      <td>{{p.quantity}}</td>
    </tr>
    </tbody>
  </table>
</div>
