<div class="container mt-5" *ngIf="orderDetails">
  <div class="text-danger">Order Details</div>
  <div class="row mt-2">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">Order ID: {{orderId}}</div>
        <div class="card-body text-sm-start">
          <ul class="list-group">
            <li class="list-group-item text-secondary">Customer Id : {{orderDetails.customer.id}}</li>
            <li class="list-group-item text-primary">Customer Name : {{orderDetails.customer.name}}</li>
            <li class="list-group-item text-secondary">Customer Email : {{orderDetails.customer.email}}</li>
            <li class="list-group-item text-primary">Order Id : {{orderDetails.id}}</li>
            <li class="list-group-item text-secondary">Date : {{orderDetails.createdAt | date : 'dd/MM/yyyy'}}</li>
            <li class="list-group-item text-primary">Status : {{orderDetails.status}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-primary">
        <div class="card-header bg-black text-white">Product Items</div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
            <tr class="bg-danger text-white">
              <th>Product Id</th><th>Product Name</th><th>Quantity</th><th>Price</th><th>Discount</th><th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pi of orderDetails.productItems">
              <td>{{pi.product.id}}</td>
              <td>{{pi.product.name}}</td>
              <td>{{pi.quantity}}</td>
              <td class="text-end">{{pi.price | number : '.2'}}</td>
              <td class="text-end">{{pi.discount |number: '.2'}}</td>
              <td class="text-end">{{pi.amount |number: '.2'}}</td>
            </tr>
            <tr class="bg-danger text-white">
              <td colspan="5" class="text-end">Total</td>
              <td class="text-end">{{orderDetails.total|number: '.2'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
